{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}}
       ,{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
       ]}.

{relx, [{release, { potro, "0.0.1" },
         [potro,
          sasl,
          cowboy,
          runtime_tools,
          observer,
          wx]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
           rebar3_auto,
           rebar3_run
          ]}.
